:root {
  --color: rgb(156, 220, 254);
  --background: rgb(39, 40, 34);
  --href-color: rgb(255, 0, 77);
  --href-hover-color: rgb(240, 146, 146);
  --hr-color: rgb(174, 129, 225);
  --footer-background: rgb(174, 129, 225);
  --pre-color: rgb(60, 80, 90);
  --pre-background: black;
  --pre-border: white;
}

constant {
  color: rgb(120, 192, 256);
}

comment {
  color: rgb(140, 148, 158);
}

entity {
  color: rgb(210, 168, 255);
}

keyword {
  color: rgb(255, 122, 114);
}

string {
  color: rgb(164, 214, 255);
}
:root {
  --content: 72rem;
  --main: 54rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  color: var(--color);
  background-color: var(--background);
  font-family: Verdana, sans-serif;
}

a {
  color: var(--href-color);
  text-decoration: underline;
}

a:hover {
  color: var(--href-hover-color);
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--hr-color);
  margin-bottom: 0.5rem;
}

header {
  max-width: var(--content);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

header a {
  display: inline-flex;
  font-size: 1rem;
  padding: 0.25rem;
}

.header-left {
  flex: 1;
}

.header-left a {
  font-size: 1.2rem;
  margin-left: 0;
}

footer {
  width: 100%;
  background-color: var(--footer-background);
}

footer p {
  max-width: var(--content);
  margin: auto;
  text-align: center;
  padding: 2rem;
}

pre {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--pre-color);
  background-color: var(--pre-background);
  border: solid 1px var(--pre-border);
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  font-size: 0.9rem;
}

ul {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

main {
  max-width: var(--main);
  margin: auto;
}

main {
  min-height: 100vh;
}

.right {
  float: right;
}

#index h1 {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  display: block;
}

#index section {
  flex: 1;
  padding: 1rem;
}

#index section h2 {
  margin: 1rem;
}

#index section h3 {
  margin: 1rem;
}

#index section p {
  margin: 1rem;
}

#not-found {
  width: 100%;
  max-width: var(--content);
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

#not-found section p {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  :root {
    --content: 90%;
  }

  header {
    flex-wrap: wrap;
  }

  .header-left {
    white-space: nowrap;
  }

  section a {
    margin-right: 1rem;
  }

  footer a {
    display: inline-block;
    width: 20%;
  }
}
