:root {
  --select-offset: 0.2rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto.ttf');
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Verdana, Arial, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#top {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: var(--top);
}

#hymn {
  flex: 1;
}

#hymn a {
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: var(--run-color);
  margin-left: 0;
  padding: 0.6rem;
  text-decoration: none;
}

#hymn a:hover {
  text-decoration: underline;
}

#run button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.7rem;
  color: var(--run-color);
  min-width: 6rem;
  outline: none;
  border: 2px solid var(--run-color);
  background-color: transparent;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
  font-family: Verdana, sans-serif;
}

#run button:hover {
  cursor: pointer;
  color: var(--top);
  background-color: var(--run-color);
}

#examples {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.7rem;
  color: var(--examples);
  outline: none;
  border-color: transparent;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

#examples:hover {
  cursor: pointer;
}

#play {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--source-background);
}

#code {
  display: flex;
  flex-direction: column;
  flex: 0;
  margin: 1rem;
  margin-bottom: 0;
  padding: 0;
}

#source {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  padding: 1rem;
  font-family: monospace;
  color: var(--source-color);
  background-color: var(--source-background);
  border: 1px solid var(--code-border);
  border-radius: 5px;
  outline: none;
  resize: none;
  box-shadow: 1px 1px 0px 1px var(--code-border);
}

#out {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 10rem;
  margin: 1rem;
  margin-top: 0;
  padding: 1rem;
  background-color: var(--source-background);
  border: 1px solid var(--code-border);
  border-radius: 5px;
  box-shadow: 1px 1px 0px 1px var(--code-border);
  font-family: monospace;
  color: var(--out-color);
  white-space: pre;
}
